.bg{
    background-image: url('./images/bg.png');
    background-color: #cccccc; 
    min-height: 100vh;
    height: auto; /* You must set a specified height */
    width: 100vw;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    position: absolute;
    top: 0;
    z-index: -1;
}
/* #0c2c47; azulcito del search */

.filter{
    background-color: #0f7bd483;
    /* border-radius: 6px; */
    font-size: 16px;
    padding: 2px;
    color: #0c2c47;
    border: none;
    font-weight: bold;
    min-width: 100px;
    height: 38px;
    text-align: center;
}
.filter:hover{
    background-color: #09579683;
    cursor: pointer;
}
.filter:focus{
    outline: none;
}

