.form{
    text-align: center;
    margin-top: 20px;
}
.bodyForm{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.form h1{
    text-align: center;
    font-weight: bold;
    color: #00465e;
    padding: 25px;
    text-decoration: underline;
}
.numbers{
    width: 100px;
}

.step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    display: grid;
    grid-template-rows: 100px auto;
    justify-items: center;
}
.stepOne{
    grid-template-rows: 100px 50px auto;
    align-items: flex-start;}
.stepOne h2{
    padding-bottom: 10px;
}

.stepThree{
    grid-template-rows: 100px 50px auto;
    justify-items: flex-start;
}
.stepThree img  {
 margin-left: 50px;
}
.stepThree h2  {
    margin-left: 70px;
   }

.basics{
    text-align: center;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: #1cbcf194;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: none;
    color: #2b61f6;
    font-weight: bold;
    font-size: x-large;
    border-radius: 15px;
    transition: .5s;
} 
.basics:hover{
    box-shadow: none;
    background-color: rgba(64, 103, 243, 0.245);
}

/* STATS */

.stats{
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h4{
    padding: 0;
    margin: 0;
    border: 2px solid red;
}
legend{
    font-size: large;
    text-align: center;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
fieldset{
   border: 1px solid #020e2f;
   backdrop-filter: blur(3px);
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.stats div{
    display: grid;
    text-align: start;
    margin: 6px;
    width: 150px;
    justify-items: center;
    align-items: center;
    grid-template-rows:1fr 1fr;
    grid-template-columns: 1fr ;
    font-weight: bold;
}
.stats span{
    color: #0275ff;
}
/* TYPES */
.types{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: 200px;
    text-align: start;
}
.types div{
    font-weight: bold;
    padding: 2.5px;
    margin: 5px;
}
.types div label {
    margin-left: 2px;
}
.formBtn{
    padding: 15px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold; 
    border: none;
    font-size: large;
    background-color: rgba(0, 25, 84, 0.918);
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.formBtn:focus{
    outline: none; box-shadow: none;
}
.formBtn:hover{
    cursor: pointer;
   
}
.err{
    color: red;
}
